.dayToDos {

  .dayToDoContainer {
    border-bottom: 1px solid darken(#428bca, 6.5%);
    border-right: 1px solid darken(#428bca, 6.5%);
    margin-bottom: 3%;
  }

  input {
    text-align: center;
    display: inline-block;
    width: 30%;
    padding: 0.5%;
    margin: 0.6%;
  }

  textarea {
    text-align: center;
    width: 75%;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0.75%;
    border: 1px solid #ddd;
    color: #A9A9A9;
  }

  .toDoMarker {
    font-size: 18px;
    margin-right: 1%;
    color: darken(#428bca, 6.5%);
  }

  .deleteToDo {
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: -0.6em;
    left: 1.2em;
    color: #A9A9A9;
  }

  .deleteToDo:hover {
    color: #D75452;
    cursor: pointer;
  }

  .toDoPriority {
    display: inline-block;
    width: 55%;
    position: relative;
    top: 0.5em;
    left: 1.5em;

    input {
      width: 100%;
      cursor: pointer;
    }

    .prioritySpan {
      font-size: 16px;
      color: #A9A9A9;
      display: inline-block;
      margin: 0 auto;
      position: relative;
      left: 6em;
      top: -0.5;
    }
  }

}
