.monthName {
  display: inline-block;
  margin: 0 2%;
}

.calendarHeader {
  margin-bottom: 2%;
}

.monthGrid {
  background: #fff;
  display: inline-block;
  margin: 0 auto;
  box-shadow: 10px 10px 2px $light-tan;

  th {
    text-align: center;
    width: 10em;
    height: 2em;
  }
  td {
    padding: 3em;

    span {
      display: inline-block;
      position: relative;
      bottom: 2.7em;
      left: 3.8em;
    }
  }
}

.selectedDay {
  background: $light-tan;
}

.table {
  width: auto;
}
