.monthName {
  display: inline-block;
  margin: 0 2%;
}

.calendarHeader {
  margin-bottom: 2%;

  .userName {
    display: inline-block;
    vertical-align: text-top;
    float: left;
  }
}

.monthGrid {
  background: #fff;
  display: inline-block;
  margin: 0 auto;
  box-shadow: 10px 10px 2px $light-tan;

  th {
    text-align: center;
    width: 10em;
    height: 2em;
  }

  td {
    vertical-align: text-top;


    b p {
      display: block;
      text-align: right;
      margin-top: 1%;
      margin-right: 2.5%;
      color: #000;
    }

    .calendarEvent {
      text-align: center;
      color: darken(#428bca, 6.5%);
    }

    .calendarToDoNC {
      text-align: center;
      color: #E54D42;
    }

    .calendarToDoC {
      color: darken(#2ECC71, 6.5%);
      text-align: center;
    }

    .scroll {
      height: 7.8em;
      display: flex;
      flex-direction: column;

      .monthDay {
        overflow: auto;
      }
    }
  }
}

.selectedDay {
  background: $light-tan;
}

.table {
  width: auto;
}
