
.taskHeader {
  margin-bottom: 13%;
}

.taskContainer {
  border: 2px solid #ddd;
  background-color: #fff;
  text-align: left;
  padding: 2%;
  max-height: 41.5em;
  overflow: auto;
  box-shadow: 10px 10px 2px $light-tan; 

  .taskSection {
    border-bottom: 1px solid #ddd;

    .taskIcon {
      margin: 0 2%;
    }

    .taskIcon:hover {
      color: darken(#428bca, 6.5%);
      cursor: pointer;
    }

    h3 {
      display: inline-block;
    }
  }
}
