.taskHeader {
  margin-bottom: 13%;
}

.taskContainer {
  border: 2px solid #ddd;
  background-color: #fff;
  text-align: left;

  .taskSection {
    border-bottom: 1px solid #ddd;

    span {
      margin: 0 2%;
    }
    h3 {
      display: inline-block;
    }
  }
}
